.contributor-row {
	justify-content: space-between;
	width:60%;
	margin:2.5rem auto;
}
.contributor-row > label {
	font-size:1.5rem;
}
.contributor-row > input, .contributor-row > textarea {
	font-size:1.15rem;
	padding: 0.25rem 0.5rem;
}
input[type="submit"] {
	margin-top:4rem;
}
input[type="file"] {
	width:10rem;
}
input[type="file"]::file-selector-button {
	display:block;
}