#contributor-photo-preview {
	display: block;
	margin: auto;
}
.contributor-info {
	justify-content: space-between;
	width:60%;
	margin:2.5rem auto;
}
.contributor-info > label {
	font-size:1.5rem;
}
.contributor-info > input, .contributor-info > textarea {
	font-size:1.15rem;
	padding: 0.25rem 0.5rem;
}
input[type="submit"] {
	margin-top:4rem;
}
input[type="file"] {
	width:10rem;
}
input[type="file"]::file-selector-button {
	display:block;
}