#active-contributors__text {
	display: none;
}
.contributor-row {
	flex-direction: column;
	row-gap: 1rem;
	margin: 2.5rem auto;
}
.contributor-row__title {
	margin-bottom: 0rem;
	order: -1;
}
.contributor-role__name {
	display: block;
	margin-bottom: 1rem;
}
.contributor-role__name > label {
	display: block;
	margin-bottom: 0.25rem;
}
.contributor-role__name > input {
	display: block;
}
.contributor-row-controls {
	width: max-content;
}
/*****************/
/* Media Queries */
/*****************/
@media only screen and (min-width: 500px) {
	.contributor-role__name {
		display: inline;
		margin-right: 1rem;
	}
	.contributor-role__name > label {
		display: inline;
	}
	.contributor-role__name > input {
		display: inline;
	}
}
@media only screen and (min-width: 700px) {
	.contributor-row {
		position: relative;
		margin: 2.5rem;
	}
	input.contributor-row__toggle {
		transform: translateY(-50%);
		margin-bottom: 0rem;
		position: absolute;
		left: 0%;
		top: 50%;
	}
	#active-contributors__text {
		display: block;
		text-align: left;
	}
}
@media only screen and (min-width: 950px) {
	.contributor-row {
		justify-content: space-around;
		flex-wrap: wrap;
		gap:0rem 11rem;
		flex-direction: row;
		margin-bottom: 3.5rem;
	}
	input.contributor-row__toggle {
		top: 28%;
	}
	.contributor-row__title {
		margin: revert;
		padding-left: 2.5rem;
	}
}
@media only screen and (min-width: 1220px) {
	#active-contributors__text {
		padding-left:2.5rem;
	}
	.contributor-row {
		margin: 2.5rem 5rem;
		gap: 2rem;
	}
	input.contributor-row__toggle {
		position: relative;
		transform: unset;
	}
	.contributor-row__title {
		flex-grow:1;
		order: unset;
		padding-left: unset;
	}
	.contributor-row-controls {
		position: relative;
		transform: unset;
		left: unset;
		top: unset;
	}
}