main {
	font-size:24px;
}
section.faculty-involved-section {
	width: 100vw;
}
[class $= '-section'] > p {
	text-align: justify;
	line-height: 1.875;
}
dl {
	font-size: 1.25rem;
	width: 80%;
	margin: auto;
}
.faculty-involved-member {
	justify-content: space-between;
	line-height: 1.875;
	flex-flow:column;
	gap:0rem;
	margin-bottom: 1.5rem;
}
.faculty-involved-member > dd {
	font-weight: lighter;
	order: -1;
}
.faculty-list {
	line-height: 1.875;
	font-size: 1.25rem;
	list-style: none;
	column-count: 3;
}
.special-thanks-section {
	width: 70%;
}
.special-thanks-section > p {
	text-align: center;
}
@media only screen and (min-width: 960px) {
	.faculty-involved-member {
		flex-flow: row;
		gap: revert;
		margin-bottom: revert;
	}
	.faculty-involved-member > dd {
		font-weight: revert;
		order: 1;
	}
}
@media only screen and (min-width: 1420px) {
	section.faculty-involved-section {
		width: 80vw;
	}
}