section.contributors-section {
	width: 100vw;
}
hgroup.departments {
	justify-content: space-around;
	text-transform: uppercase;
	border-bottom: 3px solid #261010;
	width:80%;
}
.contributor {
	margin-bottom: 4rem;
	border-bottom: 3px solid #261010;
}
.contributor__name {
	margin-bottom: 0rem;
}
hgroup.role {
	justify-content: space-between;
	padding: 0rem 4rem;
	margin-top: 1rem;
}
hgroup.role > h4 {
	margin:0rem;
}
.contributor-bio {
	flex-flow: column;
}
.bio__text {
	margin: 2rem 4rem;
	line-height: 1.875;
}
.bio__img {
	margin: 1rem auto;;
	width:300px;
}
@media only screen and (min-width: 790px) {
	section.contributors-section {
		width: 80vw;
	}
	.contributor-bio {
		flex-flow: row;
	}
	.bio__img {
		margin-right:1.5rem;
		width:200px;
	}	
}