#active-faculty__link {
	text-align: center;
	display: block;
}
#active-faculty__text {
	padding-left:2.5rem;
	text-align: left;
}
.member-row {
	justify-content: space-between;
	margin: 2.5rem 5rem;
	gap:2rem;
}
.member-row__title {
	flex-grow: 1;
}