#active-faculty__text {
	display: none;
}
.member-row {
	justify-content: space-between;
	flex-direction:column;
	flex-wrap: wrap;
	position: relative;
	margin: 2.5rem auto;
	row-gap: 1rem;
}
.member-row__title {
	margin-bottom: 0rem;
	order: -1;
}

/*****************/
/* Media Queries */
/*****************/
@media only screen and (min-width: 500px) {
	#active-faculty__text {
		display: block;
		text-align: left;
	}
	.member-row {
		margin: 2.5rem;
	}
	input.member-row__toggle {
		position: absolute;
		left: 0%;
		top: 50%;
		transform: translateY(-50%);
	}
	.member-row__title {
		margin: 0rem;
	}
}
@media only screen and (min-width:680px) {
	.member-row {
		flex-direction: row;
	}
	input.member-row__toggle {
		top: 3%;
		transform: unset;
	}
	.member-row__title {
		flex-basis: 50%;
		text-align:left;
		padding-left:2.5rem;
		flex-grow: 1;
		order: unset;
	}
	.member-row-controls {
		width: 100%;
	}
}
@media only screen and (min-width: 1025px) {
	.member-row {
		gap: 2rem;
	}
	input.member-row__toggle {
		position: relative;
	}
	.member-row__title {
		flex-basis: min-content;
		padding-left: unset;
		text-align: center;
	}
	.member-row-controls {
		position: relative;
		transform:unset;
		width:max-content;
		left:unset;
		top:unset;
	}
}