form {
	text-align: center;
	width: 75vw;
	margin:auto;
}
#active-program__text {
	padding-left:2.5rem;
	text-align: left;
}
[class $= "-row"] {
	position: relative;
	text-align: center;
	margin: 2.5rem 5rem;
}
[class $= "-row__toggle"] {
	position: absolute;
	left:0rem;
}
[class $= "-row__title"] {
	display: inline;
}
[class $= "-row-controls"] {
	position: absolute;
	display: inline;
	right:0rem;
}