.user-input-row {
	justify-content: space-between;
}
.user-input-row {
	justify-content: space-between;
	width:60%;
	margin:2.5rem auto;
}
.user-input-row > label {
	font-size:1.5rem;
}
.user-input-row > input {
	font-size:1.15rem;
	padding: 0.25rem 0.5rem;
}
input[type="submit"] {
	margin-top:4rem;
}