.add-btn-cont {
	margin-bottom: 0rem;
}
#active-program__text {
	visibility: hidden;
}
.production-row {
	position: relative;
	flex-direction: column;
	margin: 2.5rem auto 4rem auto;
	row-gap: 1rem;
}
input.production-row__toggle {
	order:1;
}
.production-row__title {
	margin: 0rem;
}
.published {
	position: absolute;
	top:calc(100% + 0.5rem);
}
.production-row-controls {
	order: 2;
}

/*****************/
/* Media Queries */
/*****************/
@media only screen and (min-width: 720px) {
	.production-row {
		position: relative;
		display: block;
		margin: 2.5rem 5rem 4rem 5rem;
	}
	input.production-row__toggle {
		position: absolute;
		transform: translateY(-50%);
		left:0rem;
		top:15%;
	}
	.production-row__title {
		display: inline;
	}
	.published {
		transform: translate(-50%);
		left:50%;
	}
	.production-row-controls {
		margin-top: 1rem;
	}
	#active-program__text {
		visibility: visible;
		padding-left:2.5rem;
		text-align: left;
		display: block;
	}
}
@media only screen and (min-width: 986px) {
	input.production-row__toggle {
		top:50%;
	}
	.production-row-controls {
		margin-top:0rem;
		position: absolute;
		display: inline;
		right:0rem;
	}
}