#active-program__text {
	padding-left:2.5rem;
	text-align: left;
}
.production-row {
	position: relative;
	text-align: center;
	margin: 2.5rem 5rem;
}
.production-row__toggle {
	position: absolute;
	left:0rem;
}
.production-row__title {
	display: inline;
}
.published {
	transform: translate(-50%);
	position: absolute;
	top:100%;
	left:50%;
}
.production-row-controls {
	position: absolute;
	display: inline;
	right:0rem;
}