h3 {
	font-size:2rem !important;
}
h4 {
	font-size: 1.5rem !important;
}
h5 {
	font-size: 1.08rem !important;
}
form {
	margin: 0rem auto;
	text-align: right;
}
figure.program-poster {
	margin: unset;
}
figure.program-poster > img {
	width: 90vw;
}
.program-writer {
	font-size: 1.15rem;
}
hgroup.departments {
	justify-content: space-around;
	text-transform: uppercase;
	border-bottom: 3px solid #261010;
	width:80%;
}
.contributor {
	margin-bottom: 4rem;
	border-bottom: 3px solid #261010;
}
.contributor__name {
	margin-bottom: 0rem;
}
hgroup.role {
	justify-content: space-between;
	padding: 0rem 4rem;
	margin-top: 1rem;
}
hgroup.role > h4 {
	margin:0rem;
}
.contributor-bio {
	flex-flow: column;
}
.bio__text {
	margin: 2rem 4rem;
	line-height: 1.875;
}
.bio__img {
	margin: 1rem auto;;
	width:300px;
}
.acknowledgment-section > p, .about-humber-section > p, .special-thanks-section > p {
	line-height: 1.875;
}
dl {
	font-size: 1.25rem;
	width: 80%;
	margin: auto;
}
.faculty-involved-member {
	justify-content: space-between;
	line-height: 1.875;
}
.faculty-list {
	line-height: 1.875;
	font-size: 1.25rem;
	list-style: none;
	column-count: 3;
}
section.special-thanks-section {
	width: 70%;
}
@media only screen and (min-width: 660px) { 
	figure.program-poster {
		margin: auto;
	}
	figure.program-poster > img {
		width: 20rem;
	}
}
@media only screen and (min-width: 790px) {
	.contributor-bio {
		flex-flow: row;
	}
	.bio__img {
		margin-right:1.5rem;
		width:200px;
	}	
}