.role-input-row {
	justify-content: space-around;
	margin:2.5rem auto;
}
.role-input-row > label {
	font-size:1.5rem;
}
.role-input-row > input {
	font-size:1.15rem;
	padding: 0.25rem 0.5rem;
}
input[type="submit"] {
	margin-top:4rem;
}